fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.4.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
sqlalchemy==2.0.23
PyJWT==2.8.0
flask==3.1.2
numpy==2.2.6
opencv-python==4.12.0.88
Pillow==10.2.0
tensorflow==2.19.0
ultralytics==8.0.0
